body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121613;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the body to viewport height */
}
header {
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.enter-button {
    padding: 16px 24px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 1rem;
    text-decoration: none; /* Remove underline for anchor links */
    display: inline-block; /* Ensure button is displayed inline */
}

.enter-button:hover {
    background-color: #555;
    color: #ffffff;
}


footer {
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
