@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Text:wght@100..900&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Distressed&family=Rubik+Glitch&family=Rubik+Microbe&family=Rubik+Wet+Paint&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    color: #0d0d0d;
    font-weight: 400;
}

body {
    text-align: center;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #A60C0C;
    text-transform: uppercase;
    padding: 20px 0;
}

#title-container {
    margin-top: -2rem;
    margin-bottom: 6rem;
}

h1 {
    margin: 0;
    left: 0;
    right: 0;
    margin-top: -2rem;
    font-weight: 700;
    font-size: 5.5rem;
}

h2 {
    width: 700px;
    margin: auto;
    margin-top: 1.5rem;
}

a {
    font-weight: 600;
}

.enter-button {
    position: relative;
    padding: 12px 24px;
    border: 2.5px solid #0d0d0d;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 3rem;
    display: inline-block;
}

.enter-button:hover {
    background-color: #0d0d0d;
    color: whitesmoke;
}  

.reveal-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('burn.jpg'); /* Make sure the image path is correct */
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to top, transparent, black 100%); /* Starts with transparent to black gradient */
    mask-size: 100% 300%; /* Extend the size of the mask to create a smoother transition */
    mask-position: bottom; /* Start with the mask at the bottom */
    transition: mask-position 2s ease; /* Smooth transition for the mask position */
    pointer-events: none; /* Prevents the image from interfering with button clicks */
    z-index: -1; /* Keeps the image behind the content */
}

.enter-button:hover + .reveal-image {
    mask-position: top; /* Moves the mask to the top, revealing the image */
}


footer {
    color: #a1a1a1;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
