@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Text:wght@100..900&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Distressed&family=Rubik+Glitch&family=Rubik+Microbe&family=Rubik+Wet+Paint&display=swap');

body {
    font-family: Poppins, sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: grid;
    margin: 20px;
    border: solid 2px #a60000;
    grid-template-rows: auto;
    height: 94vh;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar content";
}

aside {
    grid-area: sidebar;
    border-right: solid 2px #a60000;
    height: 93.999vh;
}

#company-list {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 38vh;
    border-bottom: solid 2px #a60000;
    margin: 0;
}

#product_type_legend {
    padding: 20px;
}

#chart-container {
    grid-area: content;
    width: 100%;
    height: 93.999vh;
    background-image: url(burn-2.png);
    background-size: cover;
    background-position: center;
}

#chart-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(50px);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; 
    margin-bottom: 0;
}

#company-list li {
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(57, 57, 57, 0.401);
    transition: background-color 0.3s ease, font-weight 0.3s ease, text-shadow 0.3s ease;
}

#company-list li:hover {
    color: rgb(0, 0, 0);
    background-color: #A60C0C;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.231);
  }

#product_type_legend {
    padding: 10px;
    padding-left: 24px;
    font-size: 12px;
}

.legend-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 8px;
    vertical-align: middle;
}

.legend-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selected {
    background-color: #f0f0f0 !important; 
    color: black; 
    font-weight: 600;
}


/* iPhone Size */
@media only screen and (max-width: 375px) {
    body {
        font-size: 12px; /* smaller font size for smaller screens */
    }

    .wrapper {
        display: grid; /* revert to grid layout */
        height: 100%; /* occupy full height */
        grid-template-rows: auto 1fr auto; /* adjust rows */
        grid-template-areas: 
            "header"
            "content"
            "footer";
    }

    #company-list {
        grid-area: header;
        padding: 10px; /* smaller padding */
    }

    #product_type_legend {
        grid-area: footer;
        padding: 10px; /* smaller padding */
    }

    #chart-container {
        background-image: url(/burn-3.png);
    }
}

/* iPad Size */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px; /* slightly larger font size for tablets */
    }

    .wrapper {
        grid-template-columns: 1fr 3fr; /* adjust column sizing for more space */
    }

    #chart-container {
        background-image: url(/burn-3.png);
    }

    aside {
        height: auto; /* auto height for better flexibility */
    }
}