@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Text:wght@100..900&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway+Dots&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik+Distressed&family=Rubik+Glitch&family=Rubik+Microbe&family=Rubik+Wet+Paint&display=swap');

body {
  font-family: Poppins, sans-serif;
  background-color: black;
  color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#company-list-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
}

#company-list {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

#company-list li {
  width: 180px;
  padding: 14px;
  margin-top: 50px; 
  margin-left: 30px;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  text-align: center;
  cursor: pointer; 
}

#company-list li:hover {
  background-color: #4f4f4f5b; 
}

#company-list li.clicked {
  font-weight: bold;
  color: #d80505;
  border: 2px solid #d80505;
}

#chart-container {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
}

#bubble-chart {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure the bubbles stay within the chart container */
}

/* Apply the animation to the bubbles */
.bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Fill the width of the chart container */
  height: 100%; /* Fill the height of the chart container */
  overflow: hidden;
  animation: bubbleAnimation 25s linear infinite;
}

@keyframes bubbleAnimation {
  0% {
      transform: translateY(100vh); /* Start from bottom of viewport */
      opacity: 0.3;
  }
  100% {
      transform: translateY(-1000px); /* Move to top and rotate */
      opacity: 0.7;
  }
}

#legend-container {
  margin-top: 60px; 
  margin-left: 20px;
}

.legend {
  margin-bottom: 3px;
}

.legend-color {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.legend-label {
  display: inline-block;
  margin-left: 5px; /* Add some spacing between rectangle and text */
  color: whitesmoke; 
}