body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 100%;
}

#zoom-chart {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

circle {
    fill: rgb(164, 8, 8);
    fill-opacity: 0.5;
    pointer-events: all;
}
